aiofiles
aiohttp
aioshutil
anytree
apscheduler
aria2p
asyncio
bs4
cloudscraper
dnspython
feedparser
flask
gevent
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
httpx
html_telegraph_poster
lxml
mega
motor
natsort
pillow
psutil
pycryptodome
pyrofork==2.2.11
pymongo
python-dotenv
python-magic
qbittorrent-api
requests
speedtest-cli
tgcrypto
telegraph
tenacity
urllib3
uvloop==0.21.0
waybackpy
xattr
yt-dlp[default,curl-cffi]
heroku3
pytz
gtts
